@model PaginatedList<Category>
@{
    ViewData["Title"] = "Index2";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index2</h2>

@foreach (Category item in Model)
{
    <p>@item.Name</p>
}


